/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #0960bd;
$--color-success: #2d865d;
$--color-warning: #e2a844;
$--color-danger: #e34f4f;
$--color-info: #4f9bc4;

$--button-font-weight: 800;

// $--color-text-regular: #1f2d3d;

//$--border-color-light: #d9d9d9;
//$--border-color-lighter: #d9d9d9;
$--border-color-light: #ffffff;
$--border-color-lighter: #e8e8e8;

//$--table-border: 1px solid #e8e8e8;
$--table-border: 1px solid #f4f1e8;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
